.footerContainer{
    @include container;
    max-width:150px;
    .footer{
    margin-top: auto;
    p{
        margin: 2rem 0;
        color: $white;
        font-size: .8rem;
    }
    a{
        color: $light-pink;
        text-decoration: none;
    }
}}