.say{
    @include container;
    max-width: 570px;

    h1{
        margin: .9rem 0;
        color: $light-pink;
    }

    form{
        @include flex-column;
    }

    textarea{
        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 1rem;
        resize: none;
        border-radius: .7rem;
        color: $white;
        border: 0;
        background-color: $light;
        &::placeholder{
            color: $light-pink;
            font-size: 1.2rem;
            font-weight: 480;
        }
        // &:focus{
        //     @include box-shadow;
        // }
    }

    .buttonSection{
        @include flex-end;
        margin: 0.7rem;
        margin-top: -1.5rem;
        button{
            background-color: $light-pink;
            font-size: 1.3rem;
            font-weight: 560;
            cursor: pointer;
            padding: .6rem;
            border: 0;
            color: $dark;
            border-radius: .5rem;
            // &:focus{
            //     @include box-shadow;
            // }
        }
        // left: 80%;
    }

    ::-webkit-scrollbar{
        display: none;
    }
}