.sayingsContainer{
    @include container;
    .sayings{
    @include cards-grid;
    margin: 2rem 0;
    .card{
        @include flex-end;
        flex-direction: column;
        @include card{
            p{
                font-size: 1.1rem;
                font-weight: 500;
                flex: 1;
            }
        }
        .starRootDiv{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-top: .5rem;
            p{
                font-size: .9rem;
                font-weight: 300;
            }
        }
    }

    .star{
        @include flex-end;
        img{
            cursor: pointer;
            margin-right: .3rem;
            margin-top: 8px;
        }
    }

}}