.say{
    @include container;
    max-width: 700px;

    h1{
        margin: 1rem 0;
        color: $light-pink;
        font-weight: 580
    }

    form{
        @include flex-column;
    }

    textarea{
        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 1rem;
        resize: none;
        border-radius: .7rem;
        color: $white;
        border: 0;
        background-color: $light;
        transition: box-shadow 0.25s;
        &::placeholder{
            color: $light-pink;
            font-size: 1.2rem;
            font-weight: 500;
        }
        &:focus{
            @include box-shadow;
        }

        //animation
        // @include fade-animation;
    }

    .buttonSection{
        @include flex-end;
        margin: 0.7rem;
        margin-top: -1.5rem;
        button{
            background-color: $light-pink;
            transition: transform 0.25s;
            font-size: 1.3rem;
            font-weight: 560;
            cursor: pointer;
            padding: .6rem;
            border: 0;
            color: $dark;
            border-radius: .5rem;
            z-index: 100;
            &:focus{
                @include box-shadow;
            }
            &:hover{
                transform: translateY(-3px)
            }
        }
        // left: 80%;
    }

    ::-webkit-scrollbar{
        display: none;
    }
}

