@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
}

@mixin container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.3rem;
}

@mixin card {
    padding: .6rem;
    background-color: $dark-white;
    border-radius: .5rem;
    @content
}

@mixin cards-grid {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 0.5rem;
}

@mixin box-shadow {
    -webkit-box-shadow: 0px 1px 7px 0px $orange-color;
    -moz-box-shadow: 0px 1px 7px 0px $orange-color;
    box-shadow: 0px 1px 7px 0px $orange-color;
}

@mixin smallerThan768 {
    @media (max-width: 600px){
        @content;
    }
}