$transition: 0.25 all ease-in-out;
$background-color: #322f3d;
$orange-color: #ff7844;
$half-white: #59405c;
$dark-white: rgb(18, 93, 146);

$dark: #313131;
$less-dark: #414141;
$light: #525252;
$light-pink: #ec625f;
$white: rgb(223, 223, 223);